# Framework
flask

# Deep Learning (Essential for EfficientNetB0)
tensorflow
numpy

# Image Processing (Required for TTA and PIL Sanity Checks)
Pillow

# Evaluation & Metrics (Required for your CV Classification Reports)
scikit-learn
matplotlib